$logoSize: 45px;

.logo {
  width: $logoSize;
  height: $logoSize;
  background: url('/assets/images/logo.png') -10px -75px;

  @media (min-width: 576px) {
    width: 230px;
    height: $logoSize;
    background: url('/assets/images/logo.png') -10px -10px;
  }
}
