.w-100 {
  width: 100% !important;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

/* Hide from IE Mac \*/
.clearfix {
  display: block;
}

/* End hide from IE Mac */

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

.ellipsis {
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}

.margin-auto {
  margin: auto;
}

.margin-0 {
  margin: 0;
}
