<form [formGroup]="form" (ngSubmit)="form.valid && onFormSubmit(form)" class="auth-form mat-elevation-z4">
  <h2>
    <ng-content select=".title"></ng-content>
  </h2>

  <mat-form-field *ngFor="let formControl of formControls" [hideRequiredMarker]="false" color="primary" class="w-100">
    <mat-label *ngIf="formControl.label">{{ formControl.label }}</mat-label>

    <input *ngIf="formControl.controlType === 'textbox'"
           [type]='formControl.type'
           [formControlName]="formControl.key"
           matInput
    >
    <mat-error>
      {{ getErrorMessage(formControl.key, formControl.errorMessages) }}
    </mat-error>
  </mat-form-field>

  <div>
    <ng-content select=".footer"></ng-content>
  </div>
</form>
